.row
  .col-lg-12
    %button.btn.btn-primary{data: {toggle: :modal, target: "#new_discription"}}
      Tạo nội dung mới
%br
.row#discriptions
  - @discriptions.each do |discription|
    = render "item", discription: discription

  = render "new"

  = render "edit"
