%h1 Discription
%table
  %thead
    %tr
      %th code
      %th discription
  %tbody
    - @discription.each do |discription|
      %tr
        %td= discription.code
        %td= discription.discription