.container-fluid.container-fixed-lg.footer
  .copyright.sm-text-center
    %p.small.no-margin.pull-left.sm-pull-reset
      %span.hint-text Copyright © #{Date.today.year}
      %span.font-montserrat le thanh phong.
      %span.hint-text All rights reserved.
      %span.sm-block
        %a.m-l-10.m-r-10{:href => "#"} Terms of use
        %span.muted |
        %a.m-l-10{:href => "#"} Privacy Policy
    %p.small.no-margin.pull-right.sm-pull-reset
      Crafted with
      %i.fa.fa-heart.text-danger
      by Lê Thanh Phong
    .clearfix